.Navbar{
    display: flex;
    margin-top: 30px;
    height: 35em;
    margin-bottom: 30px;
    justify-content: center;
}

.l-side{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.lin{
    flex: 4;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 0.5px 0.5px rgb(112, 107, 103);
    align-items: center;
    justify-content: center;
}

.images{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.r-side{ 
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar .l-side .lin a{
    height: 60px;
    text-decoration: none;
    font-size: 20px;
    color: seashell;
    margin-left: 10px;
}

.images img{
    height: 1.3em;
    width: 1.3em;
}


.content{
    width:800px;
    height: 500px;
    color: rgb(116, 202, 236);
    background-color: rgba(241, 226, 234, 0.2);
    box-shadow: 2px 2px whitesmoke;
}

